<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>433954261777-9p9ncatj60e4c7gl76jhkfgvaj4nosd4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.433954261777-9p9ncatj60e4c7gl76jhkfgvaj4nosd4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>433954261777-d6ci99vvh0j7fq3qqt3h4qdnqk8gbvdp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD6kbEuXq0iUR84Uf3dnjIUC3ZuSEFdn-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>433954261777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dobits.app</string>
	<key>PROJECT_ID</key>
	<string>mapchat-b4252</string>
	<key>STORAGE_BUCKET</key>
	<string>mapchat-b4252.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433954261777:ios:7fa619851532447f961ab0</string>
</dict>
</plist>